
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background colors */
  --background: #0F172A;
  --header-bg: #171E31;
  --item-bg: #252C3F;
  --header-button-bg: #FFFFFF;
  --item-button-bg: #2563EA;
  --hero-demo-btn-bg: #1D283A;
  --logo-bg: #2662E6;
  --drop-down-bg: #171F36;

  /* text colors */
  --text-primary-color: #FFFFFF;
  --header-text-primary: #8890A3;
  --header-button-text: #20222F;

  --hero-text-primary: #2563EA;
  --hero-text-secondary: #8F9AAC;

  /* effects */
  --hero-image-shadow-color: #2563EA33;
}

@font-face {
  font-family: 'inter';
  src: url('../assets/font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../assets/font/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

body {
  background-color: var(--background);
  font-family: 'inter', sans-serif;
}


@layer components {

  .default-container {
    @apply py-4 px-10
  }

  .logo {
    @apply font-bold text-2xl text-text-primary-color ;
  }

  .nav-link {
    @apply font-semibold text-header-text-primary text-lg ;
  }

  .item-button {
    @apply bg-item-button-bg rounded-xl py-3 text-text-primary-color
  }

  .item {
    @apply bg-item-bg rounded-xl p-8 flex flex-col gap-5
  }
}
